<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk-add page</title>
</head>
<body>
    <h1>Bulk-add Page</h1>
    <div>
        <h2>Results</h2>
        {% for each in add %}
            {% if each['status'] == 'success' %}
                <p style="color:green">{{each['m']}}</p>
            {% else %}
                <p style="color:red">{{each['m']}}</p>
            {% endif %}        
        {% endfor %}
    </div>
    {% include 'form.html' %}
</body>
</html>